:root {
  --bg-cl: #ffffff;
  --accent-cl: #28a745;
  --main-text-cl: #333333;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bg-cl);
  color: var(--main-text-cl);
  font-size: 18px;
}
/* ----------reset styles----------- */
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* btn */
button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}
/* -------------Base styles------------- */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ----------header---------- */
.header {
}

.header-logo {
}

.header-nav {
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item {
}

.header-link {
  padding: 32px 0;
  display: block;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-cl);
}

/* --------------features------------- */
.features {
}
.features-list {
  display: flex;
}

.features-item {
}
.features-sub-title {
}
.features-descr {
}
